@{
    ViewBag.Title = "ErrorInactive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error al inciar Sesión, el usuario ingresado aún se encuentra Inactivo</h2>
<p>Esperere hasta que el Administrador acepte su registro, sino, pongase en contacto con el Administrador</p>
@Html.ActionLink("Volver al Inicio", "Index")