@{
    ViewBag.Title = "ErrorBanned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error al inciar Sesión, el usuario ingresado se encuentra baneado</h2>
<p>Pongase en Contacto con el Administrador</p>
@Html.ActionLink("Volver al Inicio", "Index")