@{
    ViewBag.Title = "LoginError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error Al iniciar Sesion</h2>

<p>Si aún no te has registrado, puedes registrarte @Html.ActionLink("aquí", "Register", "Home")!</p>
<p></p>
@Html.ActionLink("Volver al Inicio", "Index")