@model List<movilton_mvc.Models.usuarios>

@{
    var cantidad = Model.Count;
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_Layout_Panel.cshtml";
}

<div class=" row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="/usuarios" data-original-title="Hay @cantidad Usuarios Registrados">
            <i class="glyphicon glyphicon-user blue"></i>

            <div>Total Usuarios</div>
            <div>@cantidad</div>
            <span class="notification">0</span>
        </a><div class="tooltip fade top" role="tooltip" id="tooltip877843" style="top: -32px; left: 87px; display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">Total Usuarios</div></div>
    </div>

</div>